@import '../../../app.scss';
@import "~taro-ui/dist/style/components/tabs.scss";
@import "@ass/scss/common.scss";

page {
  @extend .page100;
  height: auto;
}
.list-wrapper {
  background-color: #f5f5f5;
  // padding-top: 24px;
  overflow: hidden;
}
.circle-detail-viewport, .fix-tab {
  padding: 26px 32px 0;
  // height: 100%;
  //position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  // &>.fix-tab,>.normal-tab{
   
  // }
  .tabs {
    &>.at-tabs__header {
      padding-right: 20px;
    }
    &>.at-tabs__header .at-tabs__item {
      padding: 18px 0;
      font-size: 28px;
      font-weight: 500;
      color: #333;
      text-overflow: unset;
    }
    &>.at-tabs__header .at-tabs__item--active {
      color: #FF473A;
    }
    &>.at-tabs__header .at-tabs__item .at-tabs__item-underline {
      background: #FF473A;
      height: 6px;
      border-radius: 9px;
    }
  }
  .card-wrapper {
    padding: 20px 0 0;
  }
  
  .fixed-btns {
    position: fixed;
    right: 14px;
    bottom: 36px;
    display: flex;
    flex-direction: column;
    .btn {
      width: 80px;
      height: 80px;
      margin-bottom: 13px;
    }
  }
  .operator-panel {
    background:linear-gradient(51deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
    border-radius:16px 16px 0px 0px;
    padding: 75px 0 60px;
    animation: panel-fade-in .2s ease-in;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    .add-btns {
      display: flex;
      .btn-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .icon {
          width: 120px;
          height: 120px;
        }
        .txt {
          padding: 10px 0 0;
          color: #333;
          font-size: 28px;
        }
      }
    }
    .close-btn {
      text-align: center;
      font-size: 0;
      .close-btn-icon {
        width: 97px;
        height: 97px;
      }
    }
  }
  @keyframes panel-fade-in {
    0% {
      bottom: -300px;
      opacity: 0;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
}

.no-data-view {
  padding-top: 300px;
  font-size: 24px;
  color: #666;
  text-align: center;
}