.comp-default-panel {
  padding: 80px 32px 20px;
  background: #fff;
  height: 100%;
  flex:1;
  box-sizing: border-box;
  .tags-panel {
    padding: 20px 0 14px;
    .tags-title {
      display: flex;
      .title {
        flex: 1;
        color: #333;
        font-size: 32px;
        height: 32px;
        line-height: 32px;
        font-weight: 500;
      }
      .btn {
        width: 30px;
        height: 30px;
        .delete-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
    .tags-list {
      padding-top: 34px;
      .tag-item {
        color: #333;
        font-size: 28px;
        padding: 0 42px;
        height: 50px;
        line-height: 50px;
        border-radius: 36px;
        background: #e7e7e7;
        display: inline-block;
        margin: 0 25px 24px 0;
      }
    }
  }
}