@import '../../../../../app.scss';

.main-panel-view {
  padding: 27px 32px;
  border-top: 1px solid #DDDFE8;
  font-family: PingFangSC-Medium, PingFang SC;
  margin-bottom: 24px;
  background-color: #fff;
  .user-info {
    margin-bottom: 23px;
    position: relative;
    display: flex;
    .avatar {
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin-right: 12px;
      background: #eee;
      border-radius: 50%;
      img { width: 100%; height: 100%; }
    }
    .infos {
      flex: 1;
      font-size: 0;
      position: relative;
      .name-area {
        display: flex;
        align-items: center;
        .name {
          color: #3D3AFF;
          font-size: 28px;
          margin-right: 10px;
        }
        .sex {
          width: 26px;
          height: 24px;
          margin-right: 12px;
        }
        .years-old {
          height: 36px;
          background: #e9e9e9;
          padding: 0 16px;
          border-radius: 18px;
          font-size: 24px;
          color: #666;
          margin-right: 10px;
        }
        .btn-share {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 2px;
          right: 0;
        }
      }
      .times {
        color: #999;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
  .issue {
    display: flex;
    align-items: flex-start;
    // margin-bottom: 14px;
    .icon {
      color: #fff;
      font-size: 24px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      margin-right: 16px;
      background: #95B8FF;
      border-radius: 4px;
    }
    .txt {
      flex: 1;
      color: #333;
      font-size: 28px;
      overflow: hidden;
    }
  }
  .tags {
    display: flex;
    padding-top: 24px;
    .tips {
      flex: 1;
      align-items: center;
      @extend .flex-between;
      padding: 0 12px;
      .views, .comment, .favorite {
        color: #666;
        font-size: 28px;
        display: flex;
        align-items: center;
      }
      .views {
        color: #666;
        .img {
          width: 35px;
          height: 26px;
          margin-right: 6px;
        }
      }
      .comment {
        color: #666;
        .img {
          width: 34px;
          height: 32px;
          margin-right: 6px;
        }
      }
      .favorite {
        color: #666;
        .img {
          width: 34px;
          height: 32px;
          margin-right: 6px;
        }
      }
    }
  }
}