@import '../../assets/scss/theme.scss';

.login-viewport {
    padding: 0 60px;
    font-family:PingFangSC-Regular,PingFang SC;

    .logo-wrapp {
        height: 494px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img-logo {
          width: 180px;
          height: 180px;
        }
    }
    .invite-tip {
        font-size:24px;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:33px;
        margin-bottom: 32px;
    }
    .btn-wechat {
        margin-bottom: 16px;
        background: $sys-btn-bg;
        font-size:32px;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
    .btn-phone {
        font-size:32px;
        font-weight:400;
        color:rgba(51,51,51,1);
    }
    .inp-phone {
      border-bottom: 1px solid #e6e6e6;
      font-size: 28px;
      padding: 24px 0;
    }
    .verify-code-wrapper {
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      padding: 14px 0;
      margin-top: 11px;
      .verify-code-inp {
        flex: 1;
        .inp-verify-code {
          font-size: 28px;
          height: 60px;
        }
      }
      .verify-code-btn {
        width: 190px;
        font-size: 28px;
        color: #3D7EFF;
        border-left: 1px solid #e6e6e6;
        text-align: right;
        line-height: 60px;
        white-space: nowrap;
      }
      .counting-down {
        color: #999;
      }
    }
    .confirm-btn {
      margin-top: 41px;
      background: #4BC065;
      border-radius: 8px;
      font-size: 32px;
      color: #fff;
    }
}