.comment-view {
  font-family: PingFangSC-Medium, PingFang SC;
  background-color: #fff;
  overflow: hidden;
  .title {
    padding: 32px 32px 16px;
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    background-color: #fff;
  }
  .comment-list {
    padding: 0 32px;
    padding-bottom: 80px;
  }
  
}

.drop-down{
  font-size: 20px;
  color: #999999;
  padding:10px;
  text-align: center;
  image{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.tabs2{
  float: right;
  position: relative;
}
