.comment-view {
  font-family: PingFangSC-Medium, PingFang SC;
  background-color: #fff;
  .title {
    padding: 32px 32px 16px;
    font-size: 32px;
    font-weight: 500;
    color: #333333;
    background-color: #fff;
  }
  .comment-list {
    padding: 0 32px;
  }
}