@import "../../../app.scss";
@import "../../../assets/scss/theme.scss";

.characterX-viewport {
  min-height: 100vh;
  background: $sys-page-bg;

  .character-input-wrapper {
    padding: 32px;
    .character-input {
      height: 108px;
      background: rgba(255, 255, 255, 1);
      // border-radius: 20px;
    }
    .character-input-placeholder {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      padding-left: 24px;
    }
  }

  .character-btn-wrapper {
    margin: 56px 56px 0 56px;
    .character-btn {
      height: 72px;
      background: $sys-linear-active;
      border-radius: 36px;
      // opacity: 0.49;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }
  button::after{
    border:none
  }
}
