$sys-btn-bg: #4bc065;
$sys-page-bg: #f5f5f5;
$sys-border-bg: #e6e6e6;
$sys-active-bg: #ff473a;
$sys-white-bg:#ffffff;
$sys-linear-active: linear-gradient(
  270deg,
  rgba(255, 71, 58, 1) 0%,
  rgba(255, 138, 99, 1) 100%
);