@import "../../../app.scss";
@import "../../../assets/scss/theme.scss";

.profile-baby-viewport {
  background: $sys-page-bg;
  min-height: 100vh;
  padding: 24px 32px;

  .item {
    @extend .flex-between;
    @extend .flex-direction-row;
    padding: 0 24px;
    margin: 24px 0;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;

    .item-icon {
      width: 9px;
      height: 20px;
    }
    .item-txt {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    .item-label {
      color: rgba(51, 51, 51, 1);
    }
    .item-value {
      color: rgba(153, 153, 153, 1);
    }
  }

  .btn-wrapper {
    margin: 56px 56px 0 56px;
    .btn {
      height: 72px;
      background: $sys-linear-active;
      border-radius: 36px;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }
}
