@import "../../../app.scss";
@import "../../../assets/scss/theme.scss";

.profile-family-viewport {
  background: $sys-page-bg;
  min-height: 100vh;
  padding: 24px 32px;

  .item {
    @extend .flex-between;
    @extend .flex-direction-row;
    padding: 0 24px;
    margin: 24px 0;
    height: 148px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    .item-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: rgba(222, 198, 193, 1);
      margin-right: 20px;
    }
    .item-txt {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }
    .item-icon {
      width: 9px;
      height: 20px;
      margin-right: 25px;
    }
  }

  .other-wrapper {
    @extend .flex-direction-column;
    padding: 24px 24px 48px 24px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    .other-tips {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #999999;
    }
    .other-items {
      @extend .flex;
      // @extend .flex-between;
      flex-wrap: wrap;
      .other-item {
        border-radius: 8px;
        border: 1px solid #ff473a;
        //padding: 10px 0;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #ff473a;
        margin-top: 20px;
        width: 142px;
        text-align: center;
        padding:0;
        background-color: #ffffff;
        height: 60px;
        line-height: 60px;
      }
      button::after{
        border:none
      }
    }
    .other-items:after {
      content: "";
      width: 142px;
    }
  }
}
