.search-circle-viewport {
  height: 100%;
  .search-bar {
    height: 89px;
    padding: 12px 32px 29px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    .search-inp {
      flex: 1;
      position: relative;
      height: 65px;
      .inp {
        width: 100%;
        height: 100%;
        border-radius: 29px;
        background: #f5f5f5;
        padding-left: 65px;
        box-sizing: border-box;
        font-size: 28px;
      }
      .search-icon {
        width: 27px;
        height: 26px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
      }
      .clean-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 17px;
        z-index: 999;
      }
    }
    .search-btn {
      color: #333;
      min-width: 75px;
      font-size: 28px;
      text-align: right;
      padding-left: 16px;
      line-height: 48px;
      height: 48px;
    }
  }
  .tabs {
    height: 90px;
    background: #ffffff;
    border-radius:8px;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
    //margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:106px 35px 0 35px;
    .slider {
      background: #fff;
      border-radius: 8px;
      width: 33.3333%;
      height: 100%;
      transition: all .3s ease;
      line-height: 90px;
      color:#333333;
      font-size: 28px;
    }
    .tab-items {
      position: absolute;
      top: 0;
      right: 20px;
      width: 220px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: #ffffff;
      align-items: center;
      box-sizing: border-box;
      .tab-item {
        flex: 1;
        color: #333333;
        font-size: 28px;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }
    }
  }
  .item-wrapper {
    padding: 0 32px 0;
  }

  .no-data {
    padding: 59px 32px 60px;
    .no-data-content {
      background:rgba(255,255,255,1);
      border-radius:16px;
      padding: 30px 24px;
      display: flex;
      justify-content: space-between;
      color: #333;
      font-size: 28px;
      align-items: center;
      //width: 100%;
      .create-circle {
        padding: 0 24px;
        background: #FDAC29;
        font-size: 28px;
        height: 48px;
        line-height: 48px;
        color: #fff;
        border-radius: 30px;
      }
    }
  }
}
page {
  height: 100%;
  background: #f5f5f5;
}

