@import "../../../app.scss";
@import "../../../assets/scss/theme.scss";
@import "~taro-ui/dist/style/components/tabs.scss";

.profile-baby-action-viewport {
  background: $sys-page-bg;
  min-height: 100vh;

  .tabs-container {
    .tabs {
      .at-tabs__header {
        background: rgba(255, 255, 255, 1);
      }
      .at-tabs__header .at-tabs__item {
        padding: 32px 0 12px 0;
        font-size: 32px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
      }
      .at-tabs__header .at-tabs__item--active {
        color:#FF473A;
      }
      .at-tabs__header .at-tabs__item--active .at-tabs__item-underline {
        width: 72px;
        height: 6px;
        background: #FF473A;
        border: unset;
        border-radius: 9px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.2s;
      }
      .at-tabs__body {
        background: $sys-page-bg;
      }
      .at-tabs__body .at-tabs__underline {
        background: transparent;
      }
      .at-tabs-pane--active {
        background: $sys-page-bg;
        padding: 0 32px;
      }
    }
  }

  .item {
    @extend .flex-between;
    @extend .flex-direction-row;
    padding: 0 24px;
    margin: 24px 0;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;

    .item-txt {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
    }

    .item-label {
      color: rgba(51, 51, 51, 1);
    }

    .item-value {
      @extend .flex-center;
      @extend .flex-direction-row;
      .item-txt {
        color: rgba(153, 153, 153, 1);
        margin-right: 36px;
      }
      .item-icon {
        width: 9px;
        height: 20px;
        margin-right: 25px;
      }
      .item-search {
        width: 27px;
        height: 26px;
        margin-right: 20px;
      }
      .radio-group {
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);

        radio {
          padding-right: 24px;
        }
        radio:last-child {
          margin-left: 50px;
        }
      }
    }
  }

  .btn-wrapper {
    margin: 56px 56px 0 56px;
    .btn {
      height: 72px;
      background: $sys-linear-active;
      border-radius: 36px;
      font-size: 32px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
  }
}
