@import '../../app.scss';
@import "~taro-ui/dist/style/components/tabs.scss";
.message-viewport {
  padding: 32px 32px;
  box-sizing: border-box;
  position: relative;
  .total{
    width: 25px;
    height: 25px;
    background-color: #FF473A;
    position: absolute;
    border-radius: 50%;
    top:20px;
    left: 218px;
    z-index: 999;
    color:#ffffff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
  .tabs {
    position: relative;
    &>.at-tabs__header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
    }
    &>.at-tabs__header .at-tabs__item--active {
      color: #FF473A !important;
      font-size: 32px;
    }
    &>.at-tabs__header .at-tabs__item {
      color: #999;
      font-size: 32px;
      padding: 29px 0 19px 0;
    }
    &>.at-tabs__header .at-tabs__item--active .at-tabs__item-underline {
      background: #FF473A;
      width: 72px;
      height: 6px;
      border-radius: 9px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .2s ease;
    }
    .message-tabs-pane {
      padding-top: 82px;
    }
  }
  .entry-wrapper {
    box-sizing: border-box;
    border-radius: 16px;
    background: #fff;
    display: flex;
    padding: 24px 0;
    .entry {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
        width: 90px;
        height: 90px;
        min-height: 90px;
        border-radius: 50%;
        overflow: hidden;
      }
      .txt {
        padding-top: 17px;
        color: #333;
        font-size: 28px;
        text-align: center;
        height: 28px;
        line-height: 28px;
      }
    }
  }
  .message-list {
    margin-top: 24px;
    .message-card {
      background:rgba(255,255,255,1);
      border-radius:20px;
      padding: 24px 32px 38px 24px;
      display: flex;
      position: relative;
      .icon-wrapper {
        width: 62px;
        min-width: 62px;
        .icon {
          width: 62px;
          height: 64px;
        }
      }
      .infos {
        padding-left: 25px;
        padding-right: 160px;
        width: 0;
        overflow: hidden;
        flex: 1;
        .title {
          font-size: 32px;
          height: 28px;
          line-height: 28px;
          padding-bottom: 14px;
          color: #333;
          display: block;
        }
        .sub-title {
          color: #999;
          font-size: 28px;
          height: 28px;
          line-height: 28px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
      }
      .btn-more {
        position: absolute;
        width: 9.85px;
        height: 20.16px;
        top: 44px;
        right: 32px;
        z-index: 99;
      }
    }
  }
  .chat-list {
    border-radius: 20px;
    overflow: hidden;
    .chat-item {
      display: flex;
      padding: 24px;
      background: #fff;
      border-bottom: 1px solid #dddfe8;
      &:nth-last-child(1) {
        border-bottom: 0;
      }
      .avatar-wrapper {
        width: 60px;
        min-width: 60px;
        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          background: #eee;
        }
      }
      .contents {
        padding-left: 24px;
        flex: 1;
        .ta-name {
          display: flex;
          justify-content: space-between;
          padding-bottom: 23px;
          align-items: flex-end;
          .txt {
            color: #333;
            height: 32px;
            line-height: 32px;
            font-size: 32px;
          }
          .date {
            font-size: 24px;
            height: 24px;
            line-height: 24px;
            color: #999;
          }
        }
        .chat-line {
          display: flex;
          justify-content: space-between;
          .chat {
            font-size: 28px;
            height: 28px;
            line-height: 28px;
            flex: 1;
            width: 0;
            overflow: hidden;
            color: #666;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .icon-reply {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}
page {
  @extend .page100;
}
