@import '../../../../app.scss';

.main-info-panel {
  background: #fff;
  border-radius: 16px;
  padding: 0 24px 10px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  .icon-right {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    //transform: rotate(-90deg);
  }
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .avatar-wrapper {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #eee;
      .avatar-img {
        width: 100px;
        height: 100px;
      }
    }
    .title {
      flex: 1;
      padding: 0 0 0 14px;
      color: #000;
      font-size: 36px;
      font-weight: 500;
      width: 0;
      @extend .line1;
    }
    .btn-share {
      width: 32px;
      height: 32px;
      padding: 0;
      line-height: 1;
      overflow: auto;
      border-radius: 0;
      .img-share {
        width: 100%;
        height: 100%;
      }
    }
    .button-hover{
      background: #ffffff;
    }
    .btn-attention1 {
      padding: 0 20px;
      height: 48px;
      background: linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
      border-radius: 30px;
      font-size: 28px;
      color: #fff;
      text-align: center;
      margin-left: 19px;
      line-height: 48px;
      &.attentioned {
        opacity: .5;
      }
    }
  }
  .desc {
    display: flex;
    .txt {
      font-size: 28px;
      color: #666;
      flex: 1;
      @extend .line1;
    }
    .btn {
      padding: 0 0 9px 10px;
      display: flex;
      align-items: center;
      font-size: 26px;
      //color:rgba(61,58,255,.3);
    }
  }
  .num-s {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: #333;
    padding: 24px 20px 0;
  }
  .circle-list {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    .circle-item {
      max-width: 96px;
      padding-right: 20px;
      .avatar {
        width: 60px;
        height: 60px;
        background: #eee;
        margin: 0 auto 10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 24px;
        overflow: hidden;
        .avatar-img {
          width: 60px;
          height: 60px;
        }
      }
      .name {
        font-size: 24px;
        color: #333;
        white-space: nowrap;
        width: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        @extend .line1;
      }
      &.last-parent-one {
        padding-right: 45px;
        margin-right: 44px;
        border-right: 1px solid #DDDFE8;
      }
    }
    .small-item {
      max-width: 80px;
      .avatar {
        width: 50px;
        height: 50px;
        font-size: 20px;
        .avatar-img {
          width: 50px;
          height: 50px;
        }
      }
      .name {
        font-size: 20px;
      }
    }
  }
  .swiper-style {
    height: 138px;
  }
  .swiper-placeholder {
    height: 1px;
  }
  .notice-item {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    .notice-logo {
      width:80px;
      height:35px;
      background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
      border-radius:4px;
      color:rgba(255,255,255,1);
      line-height:35px;
      text-align: center;
      font-size: 24px;
      margin-right: 12px;
    }
    .notice-txt {
      flex: 1;
      font-size: 28px;
      color: #666;
      @extend .line1;
      width: 0
    }
    .btn-detail {
      color: #3D3AFF;
      padding-left: 65px;
      font-size: 28px;
    }
  }
}