@import '../../../../app.scss';

.main-info-panel {
  background: #fff;
  border-radius: 16px;
  padding: 24px 24px 0;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  .head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .avatar-wrapper {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #eee;
    }
    .title {
      flex: 1;
      padding: 0 0 0 14px;
      color: #000;
      font-size: 36px;
      font-weight: 500;
      width: 0;
      @extend .line1;
    }
    .btn-share {
      width: 32px;
      height: 32px;
      .img-share {
        width: 100%;
        height: 100%;
      }
    }
    .btn-attention {
      width:120px;
      height:48px;
      background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
      border-radius:30px;
      font-size: 28px;
      color: #fff;
      text-align: center;
      margin-left: 19px;
      line-height: 48px;
    }
  }
  .desc {
    display: flex;
    .txt {
      font-size: 28px;
      color: #666;
      flex: 1;
      @extend .line1;
    }
    .btn {
      padding: 0 0 9px 100px;
      display: flex;
      align-items: center;
      font-size: 24px;
      color:rgba(61,58,255,.3);
      .icon-detail {
        width: 26px;
        height: 13px;
        transform: rotate(-90deg);
      }
    }
  }
  .num-s {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: #333;
    padding: 24px 20px 0;
  }
  .circle-list {
    margin-top: 32px;
    display: flex;
    margin-bottom: 45px;
    .circle-item {
      padding-left: 20px;
      width: 80px;
      .avatar {
        width: 50px;
        height: 50px;
        background: #eee;
        margin: 0 auto 10px;
        border-radius: 50%;
      }
      .name {
        font-size: 20px;
        color: #333;
        white-space: nowrap;
        @extend .line1;
      }
    }
    .all-circle {
      border-right: 1px solid #DDDFE8;
      padding-right: 48px;
      width: 96px;
      padding-left: 0;
      .avatar {
        width: 60px;
        height: 60px;
      }
      .name {
        font-size: 24px;
      }
    }
    .first-item {
      padding-left: 45px;
    }
    .btn-all-circle {
      text-align: center;
      margin-top: 4px;
      width: 140px;
      height:40px;
      background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
      border-radius:19px;
      color: #fff;
      text-align: center;
      line-height: 40px;
      margin-left: 28px;
      font-size: 24px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px 0 4px;
      .icon-right {
        width: 22px;
        height: 28px;
      }
    }
  }
  .swiper-style {
    height: 138px;
  }
  .notice-item {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    .notice-logo {
      width:80px;
      height:35px;
      background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
      border-radius:4px;
      color:rgba(255,255,255,1);
      line-height:35px;
      text-align: center;
      font-size: 24px;
    }
    .notice-txt {
      flex: 1;
      font-size: 28px;
      color: #666;
      @extend .line1;
      width: 0
    }
    .btn-detail {
      color: #3D3AFF;
      padding-left: 65px;
      font-size: 28px;
    }
  }
}