page {
  height: 100%;
  background: #f5f5f5;
}

.issue-detail-view {
  //height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  .btns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    padding: 14px 37px;
    box-sizing: border-box;
    .btn {
      background-color: #FF473A;
      color: #fff;
      height: 72px;
      border-radius: 100px;
      flex: 1;
      line-height: 72px;
      margin-right: 25px;
      font-family: PingFangSC-Regular, PingFang SC;
      &:nth-last-child(1) {
        margin: 0
      }
    }
  }
}