@import '../../../app.scss';

.comp-circle-item {
  background: #fff;
  border-radius: 16px;
  padding: 22px;
  margin-bottom: 16px;
  .base-info {
    display: flex;
    .avatar-wrapper {
      width: 64px;
      min-width: 64px;
      .avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: #eee;
        overflow: hidden;
        .avatar-img {
          width: 64px;
          height: 64px;
        }
      }
    }
    .infos {
      flex: 1;
      padding-left: 11px;
      .title {
        line-height: 1;
        color: #333;
        font-size: 32px;
      }
      .subtitle {
        font-size: 26px;
        color: #999;
        line-height: 34px;
        margin-top: 6px;
      }
    }
  }
  .numbers {
    display: flex;
    justify-content: space-between;
    .number {
      flex: 1;
      padding-top: 14px;
      font-size: 24px;
      color: #666;
      text-align: center;
    }
  }
  .more {
    padding-top: 32px;
    text-align: right;
    color: #333;
    font-size: 28px;
  }
}