@import '../../../app.scss';

.comp-circle-item {
  background: #fff;
  border-radius: 16px;
  padding: 24px 23px 32px 25px;
  margin-bottom: 20px;
  .base-info {
    display: flex;
    .avatar-wrapper {
      width: 64px;
      min-width: 64px;
      .avatar {
        width: 64px;
        height: 60px;
        border-radius: 50%;
        background: #eee;
      }
    }
    .infos {
      flex: 1;
      padding-left: 11px;
      .title {
        line-height: 60px;
        color: #333;
        font-size: 32px;
      }
      .subtitle {
        font-size: 28px;
        color: #999;
        line-height: 42px;
      }
    }
  }
  .numbers {
    display: flex;
    justify-content: space-between;
    .number {
      flex: 1;
      padding-top: 20px;
      font-size: 24px;
      color: #666;
      text-align: center;
    }
  }
  .more {
    padding-top: 32px;
    text-align: right;
    color: #333;
    font-size: 28px;
  }
}