page {
  height: 100%;
  background: #fff;
}
@import "~taro-ui/dist/style/components/tabs.scss";
.city-picker-vewport {
  height: 100%;
  padding: 0;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
  .page-header {
    padding: 0 32px;
    .search-box {
      display: flex;
      align-items: center;
      padding: 12px 0 0;
      .inp-wrapper {
        flex: 1;
        position: relative;
        .inp {
          background: #F5F5F5;
          height: 48px;
          border-radius: 29px;
          //box-sizing: border-box;
          //width: 100%;
          padding: 10px 0 10px 63px;
          font-size: 28px;
          &::placeholder {
            font-size: 28px;
          }
        }
        .icon-search {
          width: 27px;
          height: 27px;
          left: 24px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .btn-cancel {
        padding-left: 16px;
        height:40px;
        font-size:28px;
        color:rgba(51,51,51,1);
        line-height:40px;
        white-space: nowrap;
      }
    }
    .current-city-info {
      height:28px;
      font-size:32px;
      font-weight:500;
      color:rgba(51,51,51,1);
      line-height:28px;
      padding: 30px 0 37px 0;
      border-bottom: 1px solid #DDDFE8;
    }
    .location-pane {
      padding: 29px 0 34px;
      .title {
        height:28px;
        font-size:32px;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:28px;
        padding-bottom: 34px;
      }
      .btn-location {
        height:72px;
        border-radius:4px;
        border:1px solid rgba(221,223,232,1);
        padding: 0 54px 0 92px;
        line-height: 72px;
        display: inline-block;
        position: relative;
        .icon-location {
          width: 28px;
          height: 32px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 54px;
        }
        .btn-txt {
          height:28px;
          font-size:28px;
          color:rgba(51,51,51,1);
          line-height:28px;
        }
      }
      .btn-openSetting {
        border: 0;
        padding: 0 54px;
      }
    }
  }
  .page-body {
    flex: 1;
    height: 0;
    overflow: hidden;
    .city-list {
      padding: 0;
      .title {
        height:28px;
        font-size:32px;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:28px;
        padding: 0 32px 34px 32px;
      }
      .city-item {
        padding: 0 25px;
        height: 108px;
        line-height: 108px;
        box-sizing: border-box;
        .city-name {
          font-size:28px;
          padding: 0 25px;
          color:rgba(51,51,51,1);
          border-bottom: 1px solid #DDDFE8;
        }
        &:nth-last-child(1) {
          .city-name {
            border-bottom: 0;
          }
        }
      }
    }
    .search-result {
      padding: 0 32px 25px;
      .result-item {
        padding: 25px 0;
        border-bottom: 1px solid #DDDFE8;
        &:nth-last-child(1) {
          border-bottom: 0;
        }
        .title {
          color: #333;
          font-size: 28px;
        }
        .sub-title {
          color: #999;
          font-size: 28px;
        }
      }
    }
  }
  .nav-bar {
    position: fixed;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    .nav-item {
      height:30px;
      font-size:22px;
      font-weight:600;
      color:rgba(51,51,51,1);
      line-height:30px;
      text-align: center;
      padding: 3px 0;
    }
  }
}