@import '../../../assets/scss/theme.scss';

page {
  height: 100%;
  background-color: #f5f5f5;
}

.create-issue-view {
  padding-top: 17px;
  .input-wrapper {
    padding: 0 30px 24px;
    background-color: #fff;
    .content {
      height: 350px;
      font-size: 28px;
      padding: 26px 0;
    }
    .tip {
      padding: 24px;
      background-color: #E9EAEF;
      border-radius: 16px;
      color: #999;
      font-size: 28px;
      position: relative;
      .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 36px;
        height: 36px;
      }
    }
  }
  .photo-picker-wrapper {
    padding: 35px;
    box-sizing: border-box;
  }
  .tag-tips {
    color: #3D3AFF;
    font-size: 28px;
    padding: 0 35px;
  }
  .tag-wrapper {
    padding: 0 35px;
    .scroll-wrapper {
      position: relative;
      padding-right: 30px;
      .right-arrow {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0;
        .arrow-icon {
          width: 14px;
          height: 28px;
        }
      }
      .tag-list {
        // display: flex;
        // flex-wrap: nowrap;
        // padding: 23px 0;
        // position: relative;
        .tag-item {
          border-radius: 30px;
          padding: 0 25px;
          background: #FAD4D1ff;
          margin-right: 10px;
          font-size: 28px;
          color: #999;
          white-space: nowrap;
          &.actived {
            background: #FF473A;
            color: #fff;
          }
        }
      }
    }
  }
  .btn-wrapper {
    padding-top: 40px;
    padding-right: 32px;
    text-align: right;
    .btn-save {
      color: #fff;
      font-size: 32px;
      padding: 8px 30px;
      border-radius: 32px;
      background-color: #FF473A;
      display: inline-block;
      &.can-not-save {
        opacity: .5;
      }
    }
  }
}
.tag-list-wrap{
  position: relative;
  height: 80px;
  overflow: hidden;
}