.custom-circle-view {
  padding: 0 24px;
  .poster-area-wrapper, .baby-feature-wrapper {
    .header {
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
      .title {
        color: #333;
        font-size: 26px;
        font-weight: 500;
      }
    }
    .radio-list{
      display: flex;
      flex-direction: column;
      .radio-list__label{
        zoom:.85;
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    .items-wrapper {
      padding: 0 0 35px;
      .item-card {
        border-radius: 4px;
        background: #F5F5F5;
        padding: 17px 12px 17px 0;
        display: inline-block;
        margin-right: 12px;
        .container {
          display: flex;
          flex-wrap: nowrap;
          .radio-wrapper {
            width: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0;
            .radio {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 1px solid #CFCFCF;
              font-size: 0;
              position: relative;
              .radio-center {
                visibility: hidden;
                border: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FF473A;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          .content-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            .title {
              color: #333;
              font-size: 26px;
            }
            .sub-title {
              color: #666;
              font-size: 24px;
            }
          }
        }
        &.actived {
          background: #FAD4D1;
          .container {
            .radio-wrapper .radio {
              border-color: #FF473A;
              .radio-center {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  .poster-area-wrapper {
    border-bottom: 1px solid #e6e6e6;
  }
}