@import "~taro-ui/dist/style/components/tabs.scss";
@import "../../app.scss";
page {
  min-height: 100%;
  background: #f5f5f5;
}
.home-page-viewport {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  height: 100%;
  .search-bar {
    position: fixed;
    height: 72px;
    background: #fff;
    display: flex;
    padding: 12px 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    .location-info {
      width: 135px;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-arrow-down {
        width: 12px;
        height: 8px;
        margin-left: 5px;
      }
    }
    .search-info {
      flex: 1;
      .search-inp {
        background: #F5F5F5;
        border-radius: 29px;
        width: 100%;
        height: 48px;
        text-align: center;
        font-size: 28px;
        color: #ccc;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-search {
          width: 27px;
          height: 27px;
          margin-right: 6px;
        }
      }
    }
    .notice-info {
      width: 95px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-ring {
        width: 30px;
        height: 40px;
      }
    }
  }
  .tabs-container {
    flex: 1;
    .tabs {
      .at-tabs__header .at-tabs__item--active {
        color: #333 !important;
        font-size: 32px;
      }
      .at-tabs__header .at-tabs__item {
        color: #999;
        font-size: 32px;
      }
      .at-tabs__header .at-tabs__item--active .at-tabs__item-underline {
        background: #333;
        width: 72px;
        height: 6px;
        border-radius: 9px;
        left: 50%;
        transform: translateX(-50%);
        transition: width .2s ease;
      }
    }
    .attention-tabs {
        margin: 24px 32px;
        height: 60px;
        border-radius: 8px;
        background: #e3e3e3;
        padding: 3px;
        box-sizing: border-box;
        position: relative;
        .slider-view {
          width: 50%;
          background: #fff;
          border-radius: 8px;
          height: 100%;
        }
        .tab-items {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 32px;
          right: 32px;
          background: transparent;
          display: flex;
          .tab-item {
            flex: 1;
            @extend .flex-center;
            font-size: 28px;
            font-weight: 400;
            color: #333;
          }
        }
    }
    .user-item-wrapper {
      padding: 0 32px;
      box-sizing: border-box;
    }
    .at-tabs {
      .at-tabs__header {
        position: fixed;
        top: 72px;
        z-index: 99;
      }
      .at-tabs-pane {
        padding-top: 164px;
      }
    }
  }
}