.ui-notice-card {
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  margin-top: 24px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  .avatar-wrapper {
    width: 60px;
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      background: #eee;
    }
  }
  .contents {
    padding-left: 24px;
    flex: 1;
    .title-line {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .title {
        flex: 1;
        display: flex;
        align-items: flex-end;
        .txt {
          height:32px;
          font-size:32px;
          color:rgba(51,51,51,1);
          line-height:32px;
        }
        .sub {
          height:24px;
          font-size:24px;
          color:rgba(153,153,144,1);
          line-height:24px;
          padding-left: 17px;
        }
      }
      .time {
        height:24px;
        font-size:24px;
        color:rgba(153,153,153,1);
        line-height:24px;
      }
    }
    .content-txt {
      font-size:28px;
      padding-top: 16px;
      box-sizing: border-box;
    }
    .refrence {
      height:48px;
      background:rgba(234,234,234,1);
      border-radius:4px;
      line-height: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 16px;
      font-size:28px;
      color: #666;
      padding: 0 13px;
      display: inline-block;
    }
    .qa-wrapper {
      padding-top: 17px;
      .anwser,.questions {
        display: flex;
        align-items: center;
        .icon {
          width:35px;
          height:35px;
          min-width: 35px;
          background:rgba(149,184,255,1);
          border-radius:4px;
          font-size:24px;
          color:rgba(255,255,255,1);
          line-height: 35px;
          text-align: center;
        }
        .txt {
          flex: 1;
          padding-left: 16px;
          font-size:28px;
          color:rgba(51,51,51,1);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 0px;
        }
      }
      .questions {
        .txt { color: #666; }
        margin-top: 14px;
      }
    }
    .fav-txt {
      height:28px;
      font-size:28px;
      color:rgba(102,102,102,1);
      line-height:28px;
      padding-top: 16px;
    }
  }
}