@import '../../../app.scss';
.ui-tabs {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 35px;
  background-color: #f8f8f8;
  .ui-tabs-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    &.item-unuserable {
      color: #aaa;
    }
    &.item-actived {
      color: #333333 !important;
      border: 1px solid #e2e2e2;
      background-color: #ffffff;
      border-radius: 30px;
      .active-underscore {
        background: #FF473A;
        width: 72rpx;
        height: 6rpx;
        border-radius: 3rpx;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        transition: width .2s ease;
        display: block;
        position: absolute;
        bottom: 0;
        animation: underscore-in .3s ease;
      }
    }
    &.small-item {
      font-size: 24px;
      font-weight: 400;
    }
  }
  @keyframes underscore-in {
    0% {
      width: 100%;
    }
    100% {
      width: 72px;
    }
  }
}