@import '../../../../app.scss';

.comp-circle-item {
  border-radius: 16px;
  background: #fff;
  padding: 24px 24px 30px;
  margin-bottom: 20px;
  .infos {
    display: flex;
    align-items: center;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #eee;
      image{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      flex: 1;
      color: #333;
      font-size: 36px;
      font-weight: 500;
      padding-left: 14px;
      @extend .line1;
    }
    .btn {
      //width: 120px;
      .btn-join {
        background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
        border-radius:30px;
        color: #fff;
        font-size: 28px;
        padding: 6px 32px;
        text-align: center;
      }
    }
  }
  .desc {
    color: #666;
    @extend .line2;
    font-size: 28px;
    margin: 16px 0 15px;
  }
  .nums {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
    .num-item {
      color: #333;
      font-size: 28px;
    }
  }
}