@import "~taro-ui/dist/style/components/tabs.scss";
page {
  height: 100%;
  background-color: #f5f5f5;
}
.my-post-view {
  padding: 32px;
  box-sizing: border-box;
  .tabs {
    &>.at-tabs__header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
    }
    &>.at-tabs__header .at-tabs__item--active {
      color: #FF473A !important;
      font-size: 32px;
    }
    &>.at-tabs__header .at-tabs__item {
      color: #999;
      font-size: 32px;
      padding: 29px 0 19px 0;
    }
    &>.at-tabs__header .at-tabs__item--active .at-tabs__item-underline {
      background: #FF473A;
      width: 120px;
      height: 6px;
      border-radius: 9px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .2s ease;
    }
    .message-tabs-pane {
      padding-top: 82px;
    }
  }
  .i-release-pane {
    padding-top: 90px;
  }
  .i-reply-pane {
    padding-top: 90px;
  }
}

.wrapper .ui-notice-card .contents  {
  width: 0;
  .fav-txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}