.cropper{
  position: absolute;
  background-color: #000000;
  left: 0;
  top:0;
  z-index: 9998;
  &-canvas{
    position: absolute;
    left: 0;
    z-index: 9999;
  }
  .btn-wrap{
    position: absolute;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    left: 0;
    bottom:200px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn-cancel,.btn-confirm{
      width: 200px;
      height: 70px;
      line-height: 70px;
    }
  }
}