@import "../../app.scss";
@import "../../assets/scss/theme.scss";

page {
  height: 100%;
  background: #f5f5f5;
}
.discover-viewport {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search-box {
    height: 100px;
    padding: 12px 32px 24px;
    box-sizing: border-box;
    background: #fff;
    .search-inp {
      height: 48px;
      background: rgba(245, 245, 245, 1);
      border-radius: 29px;
      display: flex;
      align-items: center;
      padding: 10px 0 10px 0;
      .search-icon {
        width: 27px;
        height: 27px;
        margin-left: 24px;
      }
    }
  }
  .content-box {
    flex: 1;
    display: flex;
    height: 0;
    overflow: hidden;
    padding-top: 32px;
    .left-wrapper {
      width: 180px;
      min-width: 180px;
      background: #fff;
      border-radius: 0 16px 16px 0;
      .menu-item {
        padding: 36px 0;
        text-align: center;
        color: #999;
        font-size: 28px;
        line-height: 28px;
        position: relative;
        .actived-bar {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 60px;
          border-radius: 4px;
          background: #ff473a;
          animation: actived-bar-animate 0.2s ease;
        }
        &.actived {
          background: #ffeeed;
          color: #333;
          font-weight: 500;
        }
      }
    }
    .right-wrapper {
      flex: 1;
      padding: 0 24px;
      overflow: hidden;

      .tags-pane {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .targs-pane-view {
          white-space: nowrap;
        }

        .arrow-right-icon {
          flex-shrink: 0;
          width: 12px;
          height: 22px;
          margin-bottom: 24rpx;
          margin-left: 12rpx;
        }
        // &.all-list {
        //   display: block !important;
        //   .all-tags-title {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     margin: 0 0 20px 0;
        //     .title {
        //       color: #333;
        //       font-size: 32px;
        //     }
        //     .click-hot-area {
        //       width: 100px;
        //       text-align: right;
        //       .arrow-up-icon {
        //         width: 26px;
        //         height: 13px;
        //         transform: rotate(180deg);
        //       }
        //     }
        //   }
        // }
        .btn-trogge {
          width: 110px;
          margin-bottom: 20px;
          @extend .flex-around;
          .arrow-icon {
            width: 26px;
            height: 13px;
          }
          .btn-txt {
            color: #666;
            font-size: 28px;
            line-height: 38px;
            margin-right: 8px;
          }
        }
        .single-tags {
          flex: 1;
          height: 52px;
          overflow: hidden;
          margin-bottom: 20px;
        }
        .tag-item {
          display: inline-block;
          padding: 6px 20px;
          border-radius: 30px;
          background: #fad4d1;
          color: #666;
          font-size: 28px;
          margin-right: 16px;
          margin-bottom: 24px;
          &.tag-actived {
            background: $sys-linear-active;
            color: #fff;
          }
        }
      }
      .list-layout {
        display: flex;
        flex-direction: column;
        height: 100%;
        .data-list {
          flex: 1;
          height: 0;
        }
      }
    }
  }

  @keyframes actived-bar-animate {
    0% {
      height: 20px;
    }
    100% {
      height: 60px;
    }
  }
}
