@import '../../../../app.scss';

.type-tabs-view {
  margin: 20px 0 0;
  background:rgba(255,255,255,1);
  border-radius:16px;
  overflow: hidden;
  //padding: 8px 0 0;
  .slider-tab-wrapper {
    padding: 24px 25px 32px;
  }
}