page {
  height: 100%;
  background: #f5f5f5;
}
.fans-vewport {
  height: 100%;
  padding: 0 32px 0;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  .fans-card {
    padding: 24px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 20px;
    display: flex;
    position: relative;
    margin-top: 24px;
    .avatar-wrapper {
      width: 60px;
      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background: #eee;
      }
    }
    .contents {
      flex: 1;
      padding-left: 24px;
      .title {
        height:32px;
        font-size:32px;
        color:rgba(51,51,51,1);
        line-height:32px;
        margin-bottom: 16px;
      }
      .msg {
        height:28px;
        font-size:28px;
        color:rgba(102,102,102,1);
        line-height:28px;
      }
    }
    .btn-attention {
      position: absolute;
      top: 30px;
      right: 24px;
      background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
      border-radius:30px;
      height: 48px;
      line-height: 48px;
      padding: 0;
      width: 120px;
      text-align: center;
      font-size: 28px;
      color: #fff;
      &.attentioned {
        opacity: .5;
      }
    }
  }
}