@import "../../../app.scss";
@import "../../../assets/scss/theme.scss";
@import "~taro-ui/dist/style/components/tabs.scss";

.profile-home-viewport {
  background: $sys-page-bg;
  min-height: 100vh;

  .profile-header {
    background: rgba(0, 0, 0, 0.7);
    padding: 3px 32px 30px 32px;
    color: $sys-white-bg;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .top-wrapper {
      @extend .flex-between;
      .left-container {
        @extend .flex-direction-row;
        position: relative;
        .avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background: #ddd;
          margin-right: 4px;
          z-index: 98;
          image{
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }
        .heart {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 99;
          width: 44px;
          height: 40px;
          background: url("https://tongnian-image.oss-cn-shanghai.aliyuncs.com/heart.png")
            no-repeat center;
          background-size: 100%;
        }
      }
      .right-container {
        @extend .flex-direction-row;
        align-items: center;
        .ops {
          @extend .flex-center;
          width: 120px;
          height: 48px;
          font-size: 28px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          border-radius: 30px;
          box-sizing: border-box;
          margin-right: 10px;
        }
        .focus {
          background: $sys-linear-active;
        }
        .msg {
          border: 1px solid rgba(255, 255, 255, 1);
        }
        .more-item-wrap{
          display: flex;
        }
        .more-item {
          width: 10px;
          height: 10px;
          background: rgba(255, 255, 255, 1);
          margin-left: 10px;
          border-radius: 50%;
        }
      }
    }
    .member-wrapper {
      @extend .flex-direction-row;
      margin-top: 28px;
      align-items: center;
      .nick {
        font-size: 32px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
      .gender {
        width: 26px;
        height: 25px;
        margin: 0 10px;
      }
      .family {
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
      .member-container {
        @extend .flex-direction-row;
        margin-left: 4px;
        .member {
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          margin-left: 12px;
          align-items: center;
          @extend .flex-direction-column;
          .member-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ddd;
          }
          .member-named {
            font-size: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
    .label-wrapper {
      @extend .flex-direction-row;
      margin-top: 20px;
      align-items: center;
      flex-wrap: wrap;
      text-align: left;
      .label {
        background: #737071;
        border-radius: 4px;

        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0 12px;

        font-size: 24px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }
    .signature-wrapper {
      margin-top: 12px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
    .number-wrapper {
      @extend .flex-around;
      margin-top: 28px;

      .number {
        @extend .flex-direction-column;
        align-items: center;

        .number-value {
          font-size: 48px;
          font-family: DIN-Medium, DIN;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
        }
        .number-title {
          font-size: 24px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .profile-body {
    .tabs-container {
      .tabs {
        .at-tabs__header {
          background: rgba(255, 255, 255, 1);
        }
        .at-tabs__header .at-tabs__item {
          padding: 32px 0 12px 0;
          font-size: 32px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
        .at-tabs__header .at-tabs__item--active {
          color: #FF473A;
        }
        .at-tabs__header .at-tabs__item--active .at-tabs__item-underline {
          width: 72px;
          height: 6px;
          //background: $sys-active-bg;
          background:#FF473A;
          border: unset;
          border-radius: 9px;
          left: 50%;
          transform: translateX(-50%);
          transition: width 0.2s;
        }
        .at-tabs__body {
          background: $sys-page-bg;
        }
        .at-tabs__body .at-tabs__underline {
          background: transparent;
        }
        .at-tabs-pane--active {
          background: $sys-page-bg;
          padding: 0 32px;
        }
      }
      .new-info {
        padding: 32px 0 0 0;
        font-size: 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
      }
    }
  }
  .more{
    font-size: 24px;
    margin-left:20px;
    image{
      margin-left:5px;
      width: 20px;
      height: 20px;
    }
  }
}
