@import '../../../app.scss';
@import "~taro-ui/dist/style/components/tabs.scss";
page {
  @extend .page100;
}
.collects-vewport {
  height: 100%;
  padding: 0 32px 0;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  .tabs {
    &>.at-tabs__header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
    }
    &>.at-tabs__header .at-tabs__item--active {
      color: #333 !important;
      font-size: 32px;
    }
    &>.at-tabs__header .at-tabs__item {
      color: #999;
      font-size: 32px;
      padding: 29px 0 19px 0;
    }
    &>.at-tabs__header .at-tabs__item--active .at-tabs__item-underline {
      background: #333;
      width: 72px;
      height: 6px;
      border-radius: 9px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .2s ease;
    }
    .message-tabs-pane {
      padding-top: 82px;
    }
  }
}