@import '../../../../app.scss';
.ui-search-result-group-card {
  background:rgba(255,255,255,1);
  border-radius:16px;
  margin-bottom: 20px;
  .title-bar {
    border-bottom: 1px solid #dddfe8;
    display: flex;
    padding: 20px 0 20px;
    .title {
      flex: 1;
      width: 0;
      overflow: hidden;
      color: #333;
      font-size: 28px;
      padding-left: 25px;
      .kw {
        display: inline-block;
        color: #FF473A;
        margin-right: 10px;
      }
    }
    .btn-more {
      color: #999;
      font-size: 28px;
      width: 100px;
      min-width: 100px;
      .more-icon {
        width: 10px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
  .circle-part-wrapper {
    padding: 23px 23px 24px 25px;
    border-bottom: 20px solid #f5f5f5;
    .main-infos {
      display: flex;
      .avatar-wrapper {
        width: 100px;
        min-width: 100px;
        .avatar {
          width: 100px;
          height: 100px;
          background: #eee;
          border-radius: 50%;
          image{
            width: 100%;
            height: 100%;
          }
        }
      }
      .infos {
        padding-left: 26px;
        .title {
          display: flex;
          margin-bottom: 17px;
          .txt {
            width: 380px;
            // width: 0;
            overflow: hidden;
          }
          .btn-join {
            padding: 0 24px 0 24px;
            color: #fff;
            font-size: 28px;
            height:48px;
            line-height: 48px;
            background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
            border-radius:30px;
            &-attentioned{
              opacity: .5;
            }
            // .btn {
            //   width: 120px;
            //   min-width: 120px;
            //   height: 48px;
            //   background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
            //   border-radius:30px;
            //   text-align: center;
            //   color: #fff;
            //   font-size: 32px;
            //   line-height: 48px;
             
            // }
          }
        }
        .sub-title {
          @extend .line2;
          font-size: 28px;
          color: #999;
        }
      }
    }
    .numbers {
      display: flex;
      justify-content: space-around;
      padding-top: 24px;
      .num {
        color: #666;
        font-size: 24px;
      }
    }
  }
  .anwser-part-wrapper, .post-part-wrapper {
    padding: 24px;
    .user-info {
      display: flex;
      padding-bottom: 29px;
      .avatar {
        width: 60px;
        height: 60px;
        overflow: hidden;
        margin-right: 12px;
        background: #eee;
        border-radius: 50%;
        image { width: 100%; height: 100%; }
      }
      .infos {
        flex: 1;
        font-size: 0;
        .name-area {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .name {
            color: #3D3AFF;
            font-size: 28px;
            margin-right: 10px;
          }
          .sex {
            width: 26px;
            height: 24px;
            margin-right: 12px;
          }
          .years-old {
            height: 36px;
            background: #e9e9e9;
            padding: 0 16px;
            border-radius: 18px;
            font-size: 24px;
            color: #666;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
        .times {
          color: #999;
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
    .content-wrapper {
      color: #333;
      font-size: 28px;
      &.answer-wrapper {
        .answer {
          display: flex;
          align-items: center;
          &:first-child {
            margin-bottom: 14px;
          }
          .icon {
            color: #fff;
            font-size: 24px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            margin-right: 16px;
            background: #95B8FF;
            border-radius: 4px;
          }
          .txt {
            flex: 1;
            color: #333;
            font-size: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .tags {
      display: flex;
      padding-top: 24px;
      .community-area {
        width: 213px;
        align-items: center;
        display: flex;
        align-items: center;
        .community-name {
          height:35px;
          background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
          border-radius:4px;
          color: #fff;
          font-size: 24px;
          padding: 0 10px;
        }
      }
      .tips {
        flex: 1;
        align-items: center;
        @extend .flex-between;
        .views, .comment, .favorite {
          color: #666;
          font-size: 28px;
          display: flex;
          align-items: center;
        }
        .views {
          color: #666;
          .img {
            width: 35px;
            height: 26px;
            margin-right: 6px;
          }
        }
        .comment {
          color: #666;
          .img {
            width: 34px;
            height: 32px;
            margin-right: 6px;
          }
        }
        .favorite {
          color: #666;
          .img {
            width: 34px;
            height: 32px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}