@import "../../../app.scss";
@import "../../../assets/scss/theme.scss";

.profile-setting-info-viewport {
  background: $sys-page-bg;
  min-height: 100vh;
  padding: 24px 32px;

  .item {
    @extend .flex-between;
    @extend .flex-direction-row;
    padding: 0 24px;
    margin: 24px 0;
    min-height: 100px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;

    .item-txt {
      font-size: 28px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
    }

    .item-value {
      @extend .flex-center;
      .item-txt {
        color: rgba(153, 153, 153, 1);
        margin-right: 36px;
      }
      .item-icon {
        width: 9px;
        height: 20px;
        margin-right: 25px;
      }
      .item-circle {
        width: 100px;
        height: 100px;
        margin: 36px;
        border-radius: 50%;
        background-color: #f5f5f5;
      }
      .item-range {
        width: 205px;
        height: 154px;
        background: #f5f5f5;
        border-radius: 16px;
        margin: 24px 0;
      }
    }
  }
}
