@import '../../../app.scss';

.more-circle-viewport {
  height: 100%;
  .search-box {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84px;
    padding: 12px 32px 24px;
    box-sizing: border-box;
    z-index: 999;
    .inp-wrapper {
      position: relative;
      .search-inp {
        width: 100%;
        height:65px;
        border-radius: 29px;
        background: #f5f5f5;
        padding-left: 65px;
        font-size: 28px;
        box-sizing: border-box;
      }
      .search-icon {
        width: 27px;
        height: 27px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
      }
    }
  }
  .list-wrapper {
    padding: 104px 32px 20px;
  }
  .tabs {
    height: 90px;
    background: #ffffff;
    border-radius:8px;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .slider {
      background: #fff;
      border-radius: 8px;
      width: 33.3333%;
      height: 100%;
      transition: all .3s ease;
      line-height: 90px;
      //color:#FF473A;
      color:#333333;
      font-size: 28px;
    }
    .tab-items {
      position: absolute;
      top: 0;
      right: 20px;
      width: 220px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      background-color: #ffffff;
      align-items: center;
      box-sizing: border-box;
      .tab-item {
        flex: 1;
        color: #333;
        font-size: 28px;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }
    }
  }
}

page {
  @extend .page100;
}