@import '../../../app.scss';

.more-circle-viewport {
  height: 100%;
  .search-box {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84px;
    padding: 12px 32px 24px;
    box-sizing: border-box;
    .inp-wrapper {
      position: relative;
      .search-inp {
        width: 100%;
        height:65px;
        border-radius: 29px;
        background: #f5f5f5;
        padding-left: 65px;
        font-size: 28px;
        box-sizing: border-box;
      }
      .search-icon {
        width: 27px;
        height: 27px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
      }
    }
  }
  .list-wrapper {
    padding: 104px 32px 20px;
  }
  .tabs {
    height: 60px;
    background: #e3e3e3;
    border-radius:8px;
    padding: 3px;
    position: relative;
    box-sizing: border-box;
    .slider {
      background: #fff;
      border-radius: 8px;
      width: 33.3333%;
      height: 100%;
      transition: all .3s ease;
    }
    .tab-items {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      .tab-item {
        flex: 1;
        color: #333;
        font-size: 28px;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }
    }
  }
}

page {
  @extend .page100;
}