@import '../../../app.scss';
.ui-tabs1 {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-around;
  .ui-tabs-item {
    //flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    &.item-unuserable {
      color: #aaa;
    }
    &.item-actived {
      color: #FF473A !important;
      .active-underscore {
        background: #FF473A;
        width: 100%;
        height: 6rpx;
        border-radius: 3rpx;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        transition: width .2s ease;
        display: block;
        position: absolute;
        bottom: 0;
        animation: underscore-in .3s ease;
      }
    }
    &.small-item {
      font-size: 24px;
      font-weight: 400;
    }
  }
  @keyframes underscore-in {
    0% {
      width: 100%;
    }
    100% {
      width: 72px;
    }
  }
}