
/* 加载动画start */
.base-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 42px;
  height: 42px;
  border: 6px solid #fff;
  border-left: 6px solid #ff473a;
  border-top: 6px solid #ff473a;
  border-right: 6px solid #ff473a;
  border-radius: 50%;
  transition: center center;
  animation: roundRound 0.7s linear infinite;
}
@keyframes roundRound {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* 加载动画end */

/* 暂无模板start */
.noTemplate-wrap,.net-error-wrap{
  margin-top: 30vh;
  image{
    width: 210px;
    height: 163.4px;
    display:  block;
    margin: 0 auto; 
  }
  text{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    font-size: 28px;
    color:rgba(0,0,0,.6);
  }
}
.net-error-wrap {
  image {
    width: 160px;
  }
}
/* 暂无模板end */

// TODO - scss制定主题色等
