.search-circle-item {
  background: #fff;
  border-radius: 16px;
  padding: 25px 23px 24px 25px;
  margin-top: 20px;
  .behavior{
    font-size: 24px;
    color: #999999;
    margin-bottom: 20px;
  }
  .recommand-title {
    font-size: 32px;
    color: #333;
    padding-bottom: 16px;
  }
  .base-infos {
    display: flex;
    .avatar-wrapper {
      width: 100px;
      min-width: 100px;
      .avatar {
        background: #eee;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        image{
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
        text {
          background-color: #DC6D42;
          color: #fff;
          font-size: 20rpx;
          display: flex;
          width: 100%;
          height: 100%;
          padding: 10rpx;
          align-items: center;
          text-align: center;
          border-radius: 50%;
          overflow: hidden; 
          box-sizing: border-box;
          justify-content: center;
        }
      }
    }
    .infos {
      flex: 1;
      padding-left: 26px;
      .title {
        display: flex;
        margin-bottom: 17px;
        .txt {
          flex: 1;
          font-size: 32px;
          color: #333;
          width: 300px;
          .matched-txt {
            color: #FF473A;
            margin-right: 10px;
            display: inline-block;
          }
        }
        .btn {
          width: 120px;
          min-width: 120px;
          height: 48px;
          background:linear-gradient(270deg,rgba(255,71,58,1) 0%,rgba(255,138,99,1) 100%);
          border-radius:30px;
          text-align: center;
          color: #fff;
          font-size: 32px;
          line-height: 48px;
          &-attentioned{
            opacity: .5;
          }
        }
      }
      .subtitle {
        color: #999;
        font-size: 28px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-all;
        line-height: 42px;
        width: 520px;
      }
    }
  }
  .numbers {
    display: flex;
    justify-content: space-around;
    .num {
      padding-top: 24px;
      color: #666;
      font-size: 24px;
      text-align: center;
    }
  }
  .more {
    padding-top: 32px;
    text-align: right;
    color: #333;
    font-size: 28px;
  }
}